# Maven build directory
/target/

# Maven local repository (optional, usually not needed)
/.mvn/
/**/.mvn/

# Logs
*.log

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE files
## Eclipse
.classpath
.project
.settings/

## IntelliJ IDEA
*.iml
.idea/
out/

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# sensitive files to never send up
TeamsHours-Coaches.pdf
TeamsHours-Parents.pdf
TeamsHours.pdf
TeamsHours.xls
TeamsHours.xlsx
hoursExport.xls
hoursExport.xlsx

